<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lxm.dao.SynthesisMapper">
  <resultMap id="BaseResultMap" type="com.lxm.entity.Synthesis">
    <id column="sId" jdbcType="INTEGER" property="sid" />
    <result column="qtid" jdbcType="INTEGER" property="qtid" />
    <result column="shenId" jdbcType="INTEGER" property="shenid" />
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="syReason" jdbcType="VARCHAR" property="syreason" />
    <result column="syShen" jdbcType="TIMESTAMP" property="syshen" />
    <result column="syTime" jdbcType="DATE" property="sytime" />
    <result column="timeOne" jdbcType="TIMESTAMP" property="timeone" />
    <result column="timeTwo" jdbcType="TIMESTAMP" property="timetwo" />
    <result column="wcTimeTwo" jdbcType="VARCHAR" property="wctimetwo" />
    <result column="wcTimeOne" jdbcType="VARCHAR" property="wctimeone" />
    <result column="wcTime" jdbcType="VARCHAR" property="wctime" />
    <result column="wcTimeEnd" jdbcType="VARCHAR" property="wctimeend" />
    <result column="timeAddress" jdbcType="VARCHAR" property="timeaddress" />
    <result column="syName" jdbcType="VARCHAR" property="syname" />
    <result column="reading" jdbcType="VARCHAR" property="reading" />
    <result column="car" jdbcType="INTEGER" property="car" />
    <result column="syXiao" jdbcType="TIMESTAMP" property="syxiao" />
    <result column="exState" jdbcType="INTEGER" property="exstate" />
    <result column="syState" jdbcType="INTEGER" property="systate" />
    <result column="timeChai" jdbcType="INTEGER" property="timechai" />
  </resultMap>
  <sql id="Base_Column_List">
    sId, qtid, shenId, id, syReason, syShen, syTime, timeOne, timeTwo, wcTimeTwo, wcTimeOne, 
    wcTime, wcTimeEnd, timeAddress, syName, reading, car, syXiao, exState, syState, timeChai
  </sql>
  <sql id="WaiChu">
  	  sId,shenId,id, syReason, syShen, syTime,
      wcTimeTwo, wcTimeOne, wcTime, 
      wcTimeEnd, car, exState, syState
  </sql>
  <sql id="QingJia">
  	
  </sql>
  
  <!--添加外出登记  -->
  <insert id="insert" parameterType="com.lxm.entity.Synthesis">
    insert into synthesis (shenId, 
      id, syReason, syShen, 
      syTime,
      wcTimeTwo, wcTimeOne, wcTime, 
      wcTimeEnd, 
      car, 
      exState, syState
      )
    value(#{shenid},#{id},#{syreason},#{syshen},#{sytime},#{wctimetwo}
    ,#{wctimeone},#{wctime},#{wctimeend},#{car},#{exstate},#{systate}
    )
  </insert>
  <!--查询systate=1 时 的  外出表  -->
  <select id="selectAll" resultType="Map" parameterType="Integer">
  	select  s.sId,s.shenId,s.id,s.syReason,s.syShen,s.syTime,
      s.wcTimeTwo, s.wcTimeOne, s.wcTime, 
      s.wcTimeEnd, s.car, s.exState,s.syState,t.username,
      (select a.username from tb_admin a where a.id=s.shenId) shenname
      from synthesis s LEFT JOIN tb_admin t on s.id=t.id  where s.syState=1 and s.id=#{id}
  </select>
  <!--查询单条外出登记   -->
  <select id="selectUpdate" resultType="Map" >
  	  select  s.sId,s.shenId,s.id,s.syReason,s.syShen,
      s.wcTimeTwo, s.wcTimeOne, s.wcTime,s.syTime,s.timeAddress,
      s.wcTimeEnd, s.car, s.exState, s.syState, t.username,
      (select a.username from tb_admin a where a.id=s.shenId) shenname
      from synthesis s LEFT JOIN tb_admin t on s.id=t.id  where  s.id=#{id} and s.sId=#{sId}
  </select>
  <!--查询请假登记详情 -->
   <select id="selectUpdateQing" resultType="Map" >
  	  select  s.sId,s.shenId,s.id,s.syReason,s.syShen,
      s.wcTimeTwo, s.wcTimeOne, s.wcTime,s.syTime,
      s.wcTimeEnd, s.car, s.exState, s.syState, t.username,
      (select a.username from tb_admin a where a.id=s.shenId) shenname
      from synthesis s LEFT JOIN tb_admin t on s.id=t.id  where s.syState=2  and s.id=#{id} and s.sId=#{sId}
  </select>
  <!--查询后修改  -->
  <update id="updateWai" parameterType="com.lxm.entity.Synthesis">
  	update synthesis set 
  	syReason=#{syreason},syShen=#{syshen},shenId=#{shenid}
  	,syTime=#{sytime},wcTimeTwo=#{wctimetwo}, wcTimeOne=#{wctimeone},wcTime=#{wctime}, 
      wcTimeEnd=#{wctimeend},
      car=#{car}  where sId=#{sid}
  </update>
  <!--删除  -->
  <delete id="delete" parameterType="Integer">
  	delete from synthesis where sId=#{id}
  </delete>
  <!--查询待审批  exState=0 待审批 -->
  <select id="selectDaiShen" resultType="Map" parameterType="Integer">
  	select  s.sId,s.shenId,s.id,s.syReason,s.syShen,s.syTime,
      s.wcTimeTwo, s.wcTimeOne, s.wcTime,s.timeOne,s.timeTwo,
      s.wcTimeEnd, s.car, s.exState,s.syState,t.username,
      (select a.username from tb_admin a where a.id=s.shenId) shenname
      from synthesis s LEFT JOIN tb_admin t on s.id=t.id  where  s.shenId=#{id} and s.exState=0
  </select>
  <!--查看详情 个人详情   外出  请假 加班 出差-->
  <select id="selectXiang" resultType="Map">
  	select  *,
      (select a.username from tb_admin a where a.id=s.shenId) shenname
      from synthesis s LEFT JOIN tb_admin t on s.id=t.id  where s.id=#{id} and s.sId=#{sId}
  </select>
  <!--详情里的通过  -->
  <update id="updateState" parameterType="Integer">
  		update synthesis set exState=2 where sId=#{sid}
  </update>
  <!--外出回归  -->
   <update id="WaiChuHuiGui" parameterType="map">
  		update synthesis set exState=3,syXiao=#{syXiao} where sId=#{sid}
  </update>
  <!--驳回修改数据  -->
  <update id="BoHuiUpdate" parameterType="Map">
  		update synthesis set syName=#{syName},exState=1 where sId=#{sid}
  </update>
  <!--外出  已批准 已回归  -->
  <select id="ShenWaiChu" resultType="Map" parameterType="Map"> 
  		select  *,
      (select a.username from tb_admin a where a.id=s.shenId) shenname
      from synthesis s LEFT JOIN tb_admin t on s.id=t.id  where s.syState=1 and
      	<if test="username != null">
      		t.username LIKE concat(concat('%',#{username}),'%') and
      	</if> 
         s.shenId=#{id} and s.exState BETWEEN 2 and 3
  </select>
  <!--请假  已批准 已回归  -->
  <select id="ShenQing" resultType="Map" parameterType="Map"> 
  		select  *,
      (select a.username from tb_admin a where a.id=s.shenId) shenname
      from synthesis s LEFT JOIN tb_admin t on s.id=t.id  where s.syState=2 and
      <if test="username != null">
      		t.username LIKE concat(concat('%',#{username}),'%') and
      </if> 
       s.shenId=#{id} and s.exState BETWEEN 2 and 3
  </select>
  <!--加班  已批准 已回归  -->
  <select id="ShenJia" resultType="Map" parameterType="Map"> 
  		select  *,
      (select a.username from tb_admin a where a.id=s.shenId) shenname
      from synthesis s LEFT JOIN tb_admin t on s.id=t.id  where s.syState=3 and
       <if test="username != null">
      		t.username LIKE concat(concat('%',#{username}),'%') and
      </if> 
       s.shenId=#{id} and s.exState BETWEEN 2 and 3
  </select>
  <!--出差 已批准 以回归  -->
   <select id="ShenChuChai" resultType="Map" parameterType="Map"> 
  		select  *,
      (select a.username from tb_admin a where a.id=s.shenId) shenname
      from synthesis s LEFT JOIN tb_admin t on s.id=t.id  where s.syState=4 and 
       <if test="username != null">
      		t.username LIKE concat(concat('%',#{username}),'%') and
      </if> 
      s.shenId=#{id} and s.exState BETWEEN 2 and 3
  </select>
  <!--请假登记添加  -->
  <insert id="QingJiaSave" parameterType="com.lxm.entity.Synthesis">
  	insert into synthesis (shenId, 
      id, syReason, syShen, 
      wcTimeTwo, wcTimeOne, wcTime, 
      wcTimeEnd, exState, syState
      )
    value(#{shenid},#{id},#{syreason},#{syshen},#{wctimetwo}
    ,#{wctimeone},#{wctime},#{wctimeend},#{exstate},#{systate}
    )
  </insert>
  <!--出差登记添加  -->
   <insert id="JiaBanSave" parameterType="com.lxm.entity.Synthesis">
  	insert into synthesis (shenId, 
      id, syReason, syShen,timeAddress, wcTimeOne, wcTime, 
      wcTimeEnd, exState, syState
      )
    value(#{shenid},#{id},#{syreason},#{syshen},#{timeaddress}
    ,#{wctimeone},#{wctime},#{wctimeend},#{exstate},#{systate}
    )
  </insert>
  <!--查询请假记录  -->
  <select id="QingJiaSel" resultType="Map" parameterType="Integer">
  			select  s.sId,s.shenId,s.id,s.syReason,s.syShen,
      s.wcTimeTwo, s.wcTimeOne, s.wcTime, 
      s.wcTimeEnd, s.exState,s.syState,t.username,
      (select a.username from tb_admin a where a.id=s.shenId) shenname
      from synthesis s LEFT JOIN tb_admin t on s.id=t.id  where s.syState=2 and s.id=#{id}
  </select>
  <!--查询加班记录  -->
   <select id="JiaBanSel" resultType="Map" parameterType="Integer">
  			select *,
      (select a.username from tb_admin a where a.id=s.shenId) shenname
      from synthesis s LEFT JOIN tb_admin t on s.id=t.id  where s.syState=3 and s.id=#{id}
  </select>
  <!--查询出差记录  -->
   <select id="ChuChaiSel" resultType="Map" parameterType="Integer">
  			select *,
      (select a.username from tb_admin a where a.id=s.shenId) shenname
      from synthesis s LEFT JOIN tb_admin t on s.id=t.id  where s.syState=4 and s.id=#{id}
  </select>
  <!--单条查询 请假记录   -->
  <select id="QingJiaUpdate" resultType="Map" parameterType="Integer">
  		 select  s.sId, s.shenId, s.id, s.syReason, s.syShen,
      s.wcTimeTwo, s.wcTimeOne, s.wcTime, 
      s.wcTimeEnd, s.car, s.exState, s.syState, t.username,
      (select a.username from tb_admin a where a.id=s.shenId) shenname
      from synthesis s LEFT JOIN tb_admin t on s.id=t.id  where s.syState=2 and s.id=#{id} and s.sId=#{sId}
  </select>
    <!--单条查询 加班记录   -->
  <select id="JiaBanUpdate" resultType="Map" parameterType="Integer">
  		select *, 
      (select a.username from tb_admin a where a.id=s.shenId) shenname
      from synthesis s LEFT JOIN tb_admin t on s.id=t.id  where s.syState=3 and s.id=#{id} and s.sId=#{sId}
  </select>
  <!--单条查询 出差记录   -->
    <select id="ChuChaiUpdate" resultType="Map" parameterType="Integer">
  		select *, 
      (select a.username from tb_admin a where a.id=s.shenId) shenname
      from synthesis s LEFT JOIN tb_admin t on s.id=t.id  where s.syState=4 and s.id=#{id} and s.sId=#{sId}
  </select>
  <!--单条查询请假后 修改  -->
  <update id="QingjiaXiu" parameterType="com.lxm.entity.Synthesis">
  	update synthesis set 
  	syReason=#{syreason},syShen=#{syshen},shenId=#{shenid}
  	,wcTimeTwo=#{wctimetwo}, wcTimeOne=#{wctimeone},wcTime=#{wctime}, 
      wcTimeEnd=#{wctimeend}
       where sId=#{sid}
  </update>
  <!--单条查询出差后 修改  -->
  <update id="ChuChaiXiu" parameterType="com.lxm.entity.Synthesis">
  	update synthesis set 
  	syReason=#{syreason},syShen=#{syshen},shenId=#{shenid}
  	,wcTimeOne=#{wctimeone},wcTime=#{wctime}, 
      wcTimeEnd=#{wctimeend},timeAddress=#{timeaddress}
       where sId=#{sid}
  </update>
</mapper>