<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lwb.dao.RecordDao" >
<!-- 根据ID查询档案信息 -->
   <select id="queryRecord" resultType="Map" parameterType="Integer">
    select * from hr_record where hr_record_id=#{id}
  </select>
<!--根据人才库状态查询已录用未建档人员 -->
  <select id="RecordqueryAllrck" resultType="Map">
    select * FROM hr_talents t left join  hr_hire h on t.hr_talents_id=h.hr_talents_id where hr_talents_filestatus=4
  </select>
  <!-- 根据ID查询人才库信息并赋值 -->
  <select id="recordById" resultType="Map" parameterType="Integer">
    select * FROM hr_talents where hr_talents_id=#{id}
  </select>
  
   <insert id="saveRecord" parameterType="com.lwb.entity.Record">
    insert into hr_record (role_id, dept_id, 
      hr_record_name, hr_record_oaname, hr_record_serial, 
      hr_record_jobNumber, hr_record_createtime, hr_record_englishName, 
      hr_record_identity, hr_record_dateOfBirth, hr_record_sex, 
      hr_record_age, hr_record_nation, hr_record_relation, 
      hr_record_email, hr_record_marriage, hr_record_face, 
      hr_record_nativePlace, hr_record_health, hr_record_family, 
      hr_record_address, hr_record_employeetype, 
      hr_record_post, hr_record_entrytime, hr_record_startingtime, 
      hr_record_school, hr_record_graduate, 
      hr_record_degree, hr_record_major, hr_record_unusual, 
      hr_record_state, hr_record_remark, 
      hr_record_username, hr_record_currenttime)
    values (#{roleId}, #{deptId}, 
      #{hrRecordName}, #{hrRecordOaname}, #{hrRecordSerial}, 
      #{hrRecordJobnumber}, #{hrRecordCreatetime}, #{hrRecordEnglishname}, 
      #{hrRecordIdentity}, #{hrRecordDateofbirth}, #{hrRecordSex}, 
      #{hrRecordAge}, #{hrRecordNation}, #{hrRecordRelation}, 
      #{hrRecordEmail}, #{hrRecordMarriage}, #{hrRecordFace}, 
      #{hrRecordNativeplace}, #{hrRecordHealth}, #{hrRecordFamily}, 
      #{hrRecordAddress}, #{hrRecordEmployeetype}, 
      #{hrRecordPost}, #{hrRecordEntrytime}, #{hrRecordStartingtime}, 
      #{hrRecordSchool}, #{hrRecordGraduate}, 
      #{hrRecordDegree}, #{hrRecordMajor}, #{hrRecordUnusual}, 
      #{hrRecordState}, #{hrRecordRemark},
      #{hrRecordUsername}, #{hrRecordCurrenttime})
  </insert>
 <!-- 根据Id修改状态 -->
  <update id="updateStats5" parameterType="java.lang.Integer">
       UPDATE hr_talents set hr_talents_filestatus=5 where hr_talents_id=#{id}
  </update>
  <!-- 查询部门  -->
  <select id="seleDept" resultType="Map">
        select * from tb_dept
   </select>
   <!-- 查询角色  -->
  <select id="seleroles" resultType="Map">
        select * from tb_roles
   </select>
  <update id="updateRecord" parameterType="com.lwb.entity.Record" >
    update hr_record
    set role_id = #{roleId},
      dept_id = #{deptId},
      hr_record_name = #{hrRecordName},
      hr_record_oaname = #{hrRecordOaname},
      hr_record_serial = #{hrRecordSerial},
      hr_record_jobNumber = #{hrRecordJobnumber},
      hr_record_createtime = #{hrRecordCreatetime},
      hr_record_englishName = #{hrRecordEnglishname},
      hr_record_identity = #{hrRecordIdentity},
      hr_record_dateOfBirth = #{hrRecordDateofbirth},
      hr_record_sex = #{hrRecordSex},
      hr_record_age = #{hrRecordAge},
      hr_record_nation = #{hrRecordNation},
      hr_record_relation = #{hrRecordRelation},
      hr_record_email = #{hrRecordEmail},
      hr_record_marriage = #{hrRecordMarriage},
      hr_record_face = #{hrRecordFace},
      hr_record_nativePlace = #{hrRecordNativeplace},
      hr_record_health = #{hrRecordHealth},
      hr_record_family = #{hrRecordFamily},
      hr_record_address = #{hrRecordAddress},
      hr_record_employeetype = #{hrRecordEmployeetype},
      hr_record_post = #{hrRecordPost},
      hr_record_entrytime = #{hrRecordEntrytime},
      hr_record_startingtime = #{hrRecordStartingtime},
      hr_record_photograph = #{hrRecordPhotograph},
      hr_record_school = #{hrRecordSchool},
      hr_record_graduate = #{hrRecordGraduate},
      hr_record_degree = #{hrRecordDegree},
      hr_record_major = #{hrRecordMajor},
      hr_record_unusual = #{hrRecordUnusual},
      hr_record_remark = #{hrRecordRemark},
      hr_record_username = #{hrRecordUsername},
      hr_record_currenttime = #{hrRecordCurrenttime}
    where hr_record_id = #{hrRecordId}
  </update>
  
</mapper>