<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lwb.dao.ScreenDao">

  <select id="ScreenById" resultType="Map" parameterType="java.lang.Integer">
      select * from hr_screen s LEFT JOIN hr_talents t on s.hr_talents_id=t.hr_talents_id LEFT JOIN hr_plan p on s.hr_plan_id=p.hr_plan_id where hr_screen_id= #{id}
  </select>
  <!-- 查询筛选成功后的计划  -->
  <select id="ptAll" resultType="Map">
        select * from hr_plan  where hr_plan_state=1
   </select>
   <!-- 查询计划中经过筛选的人员  -->
   <select id="ptAllId" resultType="Map" parameterType="java.lang.Integer">
        select * from hr_talents where hr_talents.hr_plan_id=#{id} and hr_talents_filestatus=0
   </select>
   <!-- 根据ID查询人员信息并把数据赋予页面 -->
   <select id="talentId" resultType="Map" parameterType="java.lang.Integer">
        select * from hr_talents where hr_talents_id=#{id}
   </select>
   
   <select id="userScreen" resultType="Map">
	      select * from tb_admin
	</select>

  <select id="queryScreen" resultType="Map">
         select * from hr_screen s LEFT JOIN hr_talents t on s.hr_talents_id=t.hr_talents_id where t.hr_talents_filestatus &gt; 0 and t.hr_talents_filestatus &lt; 4 and s.id=#{uid}
	<where>
      <if test="keyWord!='' and keyWord!=null">
          s.hrScreenUsername like '%${keyWord}%'
      </if>
    </where>
  </select>
  <delete id="deleteScreen" parameterType="java.lang.Integer">
    delete from hr_screen where hr_screen_id = #{id}
  </delete>
  <insert id="ScreenSave" parameterType="com.lwb.entity.Screen" >
    insert into hr_screen (hr_screen_id,hr_talents_id, hr_plan_id, id, 
      hr_screen_screening, hr_screen_way, hr_screen_content, 
      hr_screen_opinion, hr_screen_interview, hr_screen_whether, 
      hr_screen_username, hr_screen_currenttime)
    values (#{hrScreenId},#{hrTalentsId}, #{hrPlanId}, #{id}, 
      #{hrScreenScreening}, #{hrScreenWay}, #{hrScreenContent}, 
      #{hrScreenOpinion}, #{hrScreenInterview}, #{hrScreenWhether}, 
      #{hrScreenUsername}, #{hrScreenCurrenttime})
  </insert>

  <update id="updateScreen" parameterType="com.lwb.entity.Screen">
    update hr_screen set  hr_talents_id = #{hrTalentsId},hr_screen_way = #{hrScreenWay},hr_screen_content = #{hrScreenContent},hr_screen_opinion = #{hrScreenOpinion},hr_screen_interview = #{hrScreenInterview} where hr_screen_id = #{hrScreenId}
  </update>
  <!-- 根据Id修改状态 -->
  <update id="updateStats1" parameterType="java.lang.Integer">
       UPDATE hr_talents set hr_talents_filestatus=1 where hr_talents_id=#{id}
  </update>
  <!-- 根据Id修改状态 -->
  <update id="updateStats2" parameterType="java.lang.Integer">
       UPDATE hr_talents set hr_talents_filestatus=2 where hr_talents_id=#{id}
  </update>
  <!-- 根据Id修改状态 -->
  <update id="updateStats3" parameterType="java.lang.Integer">
       UPDATE hr_talents set hr_talents_filestatus=3 where hr_talents_id=#{id}
  </update>
</mapper>