<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties resource="jdbc.properties"></properties>
	<settings>
		<setting name="cacheEnabled" value="true"/>
		<setting name="logImpl" value="STDOUT_LOGGING"/>
	</settings>
	<!-- 类型别名 -->
	<typeAliases>
		<typeAlias type="com.gd.entity.Student" alias="stu" />
		<!-- <package name="com.gd.entity.Student"/> -->
		<typeAlias type="com.gd.entity.Classes" alias="Classes"/>
	</typeAliases>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${driver}" />
				<property name="url" value="${url}" />
				<property name="username" value="${username}" />
				<property name="password" value="${password}" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="com/gd/dao/StudentMapper.xml" />
		<mapper resource="com/gd/dao/ClassesMapper.xml" />
	</mappers>
</configuration>  