<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chl.dao.MailDao" >
<!--查询所有用户  -->
         <select id="getAllUsers" parameterType="String" resultType="java.util.Map">
        select * from tb_admin a join tb_dept d on a.dept_id=d.dept_id
        <where>
            <if test="keyWord !=null and keyWord!=''">
                a.fullname like '%${keyWord}%' or d.dept_name like '%${keyWord}%'
            </if>
        </where>
    </select>
 <!--发送邮件添加email-->
    <insert id="addMail" parameterType="java.util.Map">
        insert into tb_mail(from_id,to_id2,subject,content,sendtime,send_flag)
        values(#{user_id},#{to_id2},#{theme},#{content},NOW(),1)
    </insert>
    <!--保存草稿箱email-->
     <insert id="saveMail" parameterType="java.util.Map">
        insert into tb_mail(from_id,to_id2,subject,content,sendtime,send_flag)
        values(#{user_id},#{to_id2},#{theme},#{content},NOW(),0)
    </insert>
     <!--查询收件箱未读邮件-->
    <select id="getMail" resultType="java.util.Map">
        select * from tb_mail m join tb_admin a on m.from_id=a.id
        <where>
            <if test="userId!='' and  userId!=null">
                m.to_id2=#{userId} and m.send_flag between 1 and  2
            </if>
            <if test="keyWord !=null and keyWord!=''">
               and a.username like '%${keyWord}%'
            </if>
         </where> 
    </select>
    <!--修改 收件箱邮件状态 -->
    <update id="updatesMail" parameterType="Integer">
       update tb_mail set send_flag=2  where emailId=#{emailId}
    </update>
    
    <!--   
    <select id="selectsMail" resultType="java.util.Map">
       select * from tb_mail m join tb_admin a on m.from_id=a.id
        <where>
            <if test="userId!='' and  userId!=null">
               send_flag=2 and m.to_id2=#{userId}
            </if>
            <if test="keyWord !=null and keyWord!=''">
               and a.username like '%${keyWord}%'
            </if>
        </where>
    
    
    </select> -->
    <!-- 查询草稿箱未发送邮件 -->
     <select id="selectWMail" resultType="java.util.Map">
        select * from tb_mail m join tb_admin a on m.from_id=a.id
        <where>
            <if test="userId!='' and  userId!=null">
               send_flag=0 and m.from_id=#{userId}
            </if>
            <if test="keyWord !=null and keyWord!=''">
               and a.fullname like '%${keyWord}%'
            </if>
        </where>
    </select>
    
    <!-- 查询未读邮件条数-->
    <select id="selectMail" resultType="int">
    select count(*) from tb_mail where send_flag=1
    </select>
    
    
    <!--查询收件箱详情  -->
    <select id="selectXMail" resultType="java.util.Map">
      <!--  select * from tb_mail where emailId=#{emailId} -->
       select m.emailId, m.subject,m.sendtime,m.content,a.username from tb_mail m join tb_admin a on m.id=a.id
        <where>
             <if test="emailId !=null and emailId!=''">
                m.emailId=#{emailId}
            </if>
        </where> 
    </select>
    <!--删除已收邮件-->
    <delete id="delMail" parameterType="Integer">
        delete  from tb_mail where emailId=#{emailId}
    </delete>
    <!-- 删除到垃圾箱 -->
    <update id="deljMail" parameterType="Integer">
           update tb_mail set send_flag=3  where emailId=#{emailId}
     </update>
     
    <!-- 修改草稿箱 -->
     <update id="updateMail" parameterType="java.util.Map">
        update tb_mail set subject=#{subject},content=#{content}  where emailId=#{emailId}
    </update>
    <!-- 根据ID查询 -->
    <select id="selectById" resultType="Map" parameterType="Integer">
    select *from tb_mail where emailId=#{emailId}
    </select>
    <!--查询已发送邮件  -->
     <select id="selectyMail" resultType="java.util.Map">
        select * from tb_mail m join tb_admin a on m.from_id=a.id
        <where>
            <if test="id!='' and  id!=null">
                m.from_id=#{id} and m.send_flag BETWEEN 1 and 2
            </if>
            <if test="keyWord !=null and keyWord!=''">
               and a.username like '%${keyWord}%'
            </if>
         </where> 
    </select>
    <!--查询垃圾箱  -->
    <select id="selectlMail" resultType="java.util.Map">
     select * from tb_mail m join tb_admin a on m.from_id=a.id
        <where>
            <if test="userId!='' and  userId!=null">
               send_flag=3 and m.from_id=#{userId}
            </if>
            <if test="keyWord !=null and keyWord!=''">
               and a.fullname like '%${keyWord}%'
            </if>
        </where>
  </select>
  <!--恢复邮件  -->
  <update id="updateLMail" parameterType="Integer">
           update tb_mail set send_flag=0  where emailId=#{emailId}
     </update>
  
  
  
  
 </mapper>